DEVICE_IP=                          #hikvision device
DEVICE_USER=                        #hikvision device
DEVICE_PASS=                        #hikvision device
SERVER_IP=                          #self (only needed if using upload by URL)
PORT=                               #self (default 3000)
API_USERNAME=                       #self  
API_PASSWORD=                       #self
MONGO_URI=                          #mongoDB conn for logging