DEVICE_IP=                          #hikvision device
DEVICE_USER=                        #hikvision device
DEVICE_PASS=                        #hikvision device
SERVER_IP=                          #self 
PORT=                               #self
API_USERNAME=                       #self  
API_PASSWORD=                       #self